<div class="feature-flags" [class.active]="isVisible">
  <div class="modal-content">
    <div>
      <div class="header">
        <span class="fa fa-flag icon"></span>
        <span class="text">Feature Flags</span>
        <span class="fa fa-times close" (click)="closeModal()"></span>
      </div>
      <p class="warning">The flagged features below have not yet been shipped. If you choose to
        turn them on, be aware that they may contain bugs that could reduce
        performance, make the experience poor, or break everything.</p>
    </div>
    <div class="features">
      <div class="feature" *ngFor="let feature of features">
        <div (click)="updateFlag(feature)" class="title-desc">
          <div class="title">{{feature}}</div>
        </div>
        <div class="onoffswitch">
          <label class="onoffswitch-label">
            <input
              type="checkbox"
              class="onoffswitch-checkbox"
              [checked]="featureFlagsService.getFeatureStatus(feature)"
              (change)="updateFlag(feature)"
            />
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="buttons">
      <span>
        <button id="cancel-button" (click)="closeModal()">CLOSE</button>
      </span>
    </div>
  </div>
</div>
